* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    background-color: rgb(248, 240, 229);
}



button {
    font-size: 20pt;
    margin-top: 20px;
    border-radius: 30px;
}

#result {
    font-weight: bold;
    background-color: #b3ebae;
    border-radius: 7px;
    padding: 2px;
    margin-left: 10px;
}

input {
    font-size: 20pt;
    margin-top: 20px;
    margin-left: 2pt;
}

/* div {
    border-color: red;
    border: solid 1px;
} */

.result_container {
    display: flex;
    align-items: center;
    align-self: center;
    margin-top: 50px;
}